<div class="container">
    <div class="row">
        <div class="col-md-8">
            
        </div> <!-- .col-md-8 - END-->
        <div class="col-md-4">
            
        </div> <!-- .col-md-4 - END -->
    </div> <!-- .row - END -->
</div> <!-- .container - END-->

