.dl-horizontal dt {
    overflow: visible;
    white-space: normal;
}

.right-side > .content-header > .breadcrumb {
    top: 0;
    right: 0;
    float: none;
    position: relative;
    display: block;
    margin-bottom: 10px;
}


.right-side > .content-header > h1 > small {
    display: block;
    padding-top: 5px;
}