body {
  margin-top: 60px;
}
#breadcrumb-holder {
  border-bottom: 1px solid #eeeeee;
}
.breadcrumb {
  padding: 8px 0px;
  margin: 0px;
  font-size: 12px;
  /*
    // Change breacrumb separator
    > li {
        + li:before {
            content: "\e080"; // Code from Glyphicons // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: @breadcrumb-color;
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    */
}
.content {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 6px 6px;
}
ul.two-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
ul.three-columns {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
@media (min-width: 768px) {
  #main-navbar form#search.navbar-form {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  #main-navbar form#search.navbar-form {
    width: 50%;
  }
}
#main-navbar form#search .form-group {
  display: block;
}
#main-navbar ul.navbar-nav li.mega-menu {
  position: static !important;
}
#main-navbar .dropdown-menu {
  border: none;
  border-bottom: 5px solid #f8f8f8;
}
@media (max-width: 767px) {
  #main-navbar .open .dropdown-menu {
    background-color: #ffffff;
  }
  #main-navbar .open .dropdown-menu > li > a {
    color: #333333;
  }
  #main-navbar .open .dropdown-menu > li > a:hover,
  #main-navbar .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: #f5f5f5;
  }
}
#main-navbar li.mega-menu .dropdown-menu {
  right: 0;
  border-radius: 0;
}
#main-navbar li.mega-menu .dropdown-menu ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
}
#main-navbar li.mega-menu .dropdown-menu ul dl dt {
  border-bottom: 2px solid #e5e5e5;
  color: #555555;
  padding-bottom: 5px;
}
#main-navbar li.mega-menu .dropdown-menu ul dl dd {
  margin: 0px;
  padding: 0px;
}
footer {
  margin-top: 10px;
  padding: 40px 0 0px 0;
  background: #222222;
  min-height: 100px;
  color: #555555;
  border-top: 1px solid #555555;
}
footer hr {
  border-top: #101010 1px solid;
  border-bottom: #333333 1px solid;
}
footer a {
  color: #999999;
}
footer a:hover,
footer a:focus {
  color: #eeeeee;
  text-decoration: none;
}
footer ul li {
  padding-bottom: 10px;
}
#footer-nav {
  border-top: 1px solid #333333;
  margin-top: 20px;
  padding-top: 20px;
}
#game-menu {
  margin-top: 10px;
  border-left: 1px solid #eeeeee;
  min-height: 150px;
}
#game-menu ul li {
  margin-bottom: 3px;
}
#game-holder {
  margin: 10px 0;
  background-color: #222222;
  border-radius: 6px 6px;
}
#game-title h2 {
  margin-bottom: 0;
}
