<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis convallis neque, quis scelerisque ligula. In vel nulla at purus pulvinar varius sed non nisl. Vestibulum laoreet, quam eu varius facilisis, ante augue auctor nisl, ut viverra tellus orci eu lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla eget felis at nisi accumsan mattis. Nunc pretium vitae enim ut euismod.
                </p>
            </div>
            <div class="col-sm-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis convallis neque, quis scelerisque ligula.
                </p>                
            </div>
            <div class="col-sm-4">
                <ul class="fa-ul">
                    <li><a href="http://www.twitter.com" title="Follow us on Twitter" target="_blank"><i class="fa-li fa fa-twitter-square fa-lg"></i> Follow us on Twitter</a></li>
                    <li><a href="http://www.facebook.com" title="Follow us on Facebook" target="_blank"><i class="fa-li fa fa-facebook-square fa-lg"></i> Follow us on Facebook</a></li>
                    <li><a href="/" title="Subscribe to RSS"><i class="fa-li fa fa-rss-square fa-lg"></i> Subscribe to RSS</a></li>
                </ul>
            </div>
        </div>
        <div class="row" id="footer-nav">
            <div class="col-sm-12">
                <nav>
                    <ul class="list-inline pull-left">
                        <li><a href="/" title="About">About</a></li>
                        <li><a href="/" title="Helo">Help</a></li>
                        <li><a href="/" title="Terms">Terms</a></li>
                        <li><a href="/" title="Privacy">Privacy</a></li>
                        <li><a href="/" title="Blog">Blog</a></li>
                        <li><a href="/" title="Contact">Contact</a></li>
                        <li><a href="/" title="FAQ">FAQ</a></li>
                    </ul>
                </nav>
                <small class="pull-right">© 2014 Zeega. All rights reserved.</small>
            </div>
        </div>
    </div>
</footer>