@{
    ViewBag.Title = "Game Providers";
}

<div class="row">
    <div class="col-md-12">        
        <a href="@Url.Action("create", "GameProvider")" class="btn btn-default btn-lg" role="button">
            <span class="glyphicon glyphicon-plus"></span> Create a new Game Provider
        </a>
    </div>
</div>